body {
  background-color: #ececec; /* gris muy claro, menos blanco */
}

.carta-personalizada {
  background-color: #000;
  color: #fff;
  border: 2px solid gold;
  max-width: 1400px;
  width: 30%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.carta-personalizada:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px gold;
}

.carta-personalizada .card-header,
.carta-personalizada .card-title {
  color: gold;
  font-weight: bold;
}

.carta-personalizada .card-text {
  color: #ddd;
}
