.sobre-nosotros-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(99.6vh - 140px); /* altura total menos header y footer */
  padding: 2rem;
  width: 100%;
}
