.sobre-nosotros-page {
  display: flex;
  align-items: flex-start;
  background-color: #1a1a1a;
  flex-direction: row; /* Horizontal por defecto */
}

.imagen-logo {
  max-width: 92vh;
  height: auto;
  order: 2; /* por defecto aparece después */
}

/* --- Responsive: cuando el ancho de pantalla sea menor a 768px --- */
@media (max-width: 768px) {
  .sobre-nosotros-page {
    flex-direction: column; /* Cambia a vertical */
    align-items: center;
  }

  .imagen-logo {
    order: 0; /* aparece primero */
    max-width: 100%; /* se ajusta al ancho del celular */
    margin-bottom: 16px;
  }

  .contenido-texto {
    width: 100%;
    padding: 0 16px;
  }
}
